

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  background-color:yellow
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.div_image {
   width: 400px;
   height: auto;
   text-align: center;
   padding: 5px;
   border:blue;
}
img {
    width: 200px; /* or any custom size */
    height: 200px;
     object-fit: contain;
     border:blue;
}

